/* color */
body {background: var(--flash);}
.shadow {box-shadow: var(--shadow);}
:where(.ico) {color: var(--color);}
::-webkit-scrollbar-thumb {background: var(--light);}

/* color */
:root {
	--color: var(--sapphire);
	--flash:#f9f9fd;
	--light:#ebeaf5;
	--bright:#a49fff;
	--deep:#4a41c4;
	--shadow: 0 5px 5px color-mix(in srgb, var(--sapphire) 5%, transparent);
}

@media(max-width:640px){
	:root {
		--shadow: 0 .05rem .05rem color-mix(in srgb, var(--sapphire) 5%, transparent);
	}
}

/* btn */
.btn {box-shadow: 0 3px 5px var(--bright);border-radius: 100px;}
.btn-med {height: 40px;line-height: 40px;}
.btn-empty {background-color: white;box-shadow: none;}

@media(max-width:640px){
	.btn {box-shadow: 0 .05rem .05rem var(--bright);}
	.btn-med {height: .5rem;line-height: .5rem;font-size: .18rem;}
	.btn-empty {box-shadow: none;}
}

/* frame */
.admin {width: 100vw;height: 100vh;overflow: hidden;}
.head {height: 80px;background: white;box-shadow: var(--shadow);position: relative;z-index: 1;}
.subject {width: 100%;height: 100%;flex: 1;animation-delay: .3s;overflow: hidden;display: flex;position: relative;}
.clause {width: 100%;height: 100%;flex: 1;overflow: auto;padding: 20px;}
.contant {background: white;box-shadow: var(--shadow);margin: 0 0 20px;border-radius: 5px;
	.title {border-bottom: 1px var(--light) solid;padding: 0 20px;}
}
.item {padding: 20px;}

@media(max-width:640px){
	.head {height: .8rem;}
	.subject {display: block;}
	.clause {padding: .1rem;}
	.contant {margin: 0 0 .1rem;border-radius: .1rem;
		.title {padding: 0 .2rem;}
	}
	.item {padding: .2rem;}
}

/* head */
.logo {height: 80px;line-height: 50px;padding: 15px;animation-delay: .5s;text-transform: uppercase;
	i {width: 50px;height: 50px;display: block;background-image: url(../../images/ico.svg);margin-right: 10px;}
	em {font-weight: normal;}
}
.head-cont {animation-delay: .3s;padding: 20px;
	.ico-menu {color: white;}
}
.head-info {margin: 0 0 0 20px;
	span {line-height: 40px;text-transform: capitalize;}
	em {padding: 0 10px;color: var(--color);}
	a {width: 30px;height: 40px;line-height: 40px;display: block;
		&:hover {transform: rotate(360deg);}
	}
}

.mailbox {background: var(--flash);line-height: 40px;padding: 0 4px;border-radius: 100px;display: flex;text-transform: capitalize;
	i.ico {line-height: 40px;margin: 0 10px;}
	span {min-width: 20px;height: 20px;line-height: 20px;background: var(--red);color: white;padding: 0 5px;border-radius: 100px;display: inline-block;margin: 10px;text-align: center;}
	&:hover {background: var(--color);color: white;
		i {color: white;}
	}
}

drop {width: 160px;background: var(--flash);height: 40px;line-height: 40px;border-radius: 100px;
	i.ico {line-height: 40px;width: 40px;}
	drop-list {top: 40px;
		a:hover {background-color: var(--color);}
	}
}

@media(max-width:640px){
	.logo {height: .8rem;line-height: .5rem;padding: .15rem;font-size: .28rem;
		i {width: .5rem;height: .5rem;margin-right: .05rem;}
	}
	.head-cont {padding: .15rem .1rem;}
	.head-info {margin: 0;padding: .05rem 0;
		span {display: none;}
		a {width: .4rem;height: .4rem;line-height: .4rem;
			&.fullscreen {display: none;}
		}
	}
	.mailbox {display: none;}

	drop {width: 1.6rem;height: .5rem;line-height: .5rem;
		i.ico {line-height: .5rem;width: .5rem;}
		drop-list {top: .5rem;}
	}
}

/* sider */
.sider {width: 240px;overflow: auto;background: repeating-radial-gradient(circle at 110% 80%, transparent 0, var(--000-1) 3px 3px, transparent 5px 10px) var(--color);
	&::-webkit-scrollbar {width: 0;}
	h6 {color: var(--deep);text-transform: uppercase;padding: 10px 15px;}
	a {display: block;height: 50px;line-height: 50px;color: white;text-transform: capitalize;
		i {color: white;margin: 0 5px;}
		&:hover {background: var(--bright);}
	}
	fold-title {padding: 0;border: 0;display: block;
		a n {background: var(--red);position: static;display: inline-block;padding: 10px;border-radius: 100px;line-height: 0;margin: 0 5px;}
	}
	fold-cont {background: var(--deep);display: none;padding: 0;
		a {padding-left: 50px;}
	}
	fold-group {
		a {transition-duration: 0s;}
		fold-title a:active {background: white;color: var(--333);
			.ico {color: var(--333);}
		}
		&.active {
			fold-title a {background: var(--flash);}
			fold-title {
				a,
				.ico {color: var(--333);}
			}
		}
	}
	.sider-search {position: relative;margin: 10px;overflow: hidden;
		input {height: 40px;padding: 0 40px 0 20px;border-radius: 100px;background: var(--deep);color: white;border: 0;}
		button {width: 40px;height: 40px;position: absolute;top: 0;right: 0;}
	}
}
.sider-toggle {width: 40px;height: 40px;margin-right: 20px;padding: 0;}

@media(max-width:640px){
	.sider {width: 100%;height: 100%;position: absolute;left: 0;top: 0;display: none;z-index: 3;
		h6 {padding: .1rem .2rem;}
		a {height: .7rem;line-height: .7rem;
			i {margin: 0 .1rem;}
		}
		fold-title a n {padding: .1rem;margin: 0 .1rem;}
		fold-cont a {padding-left: .7rem;}
		.sider-search {margin: .15rem;
			input {height: .7rem;padding: 0 .7rem 0 .3rem;}
			button {width: .7rem;height: .7rem;}
		}
	}
	.sider-toggle {width: .5rem;height: .5rem;margin-right: .1rem;
		i {font-size: .32rem;}
	}
}

/* title */
.title {height: 60px;display: flex;align-items: center;
	u {flex: 1;}
	.ico {margin: inherit;padding: 0 10px;}
	cite {font-weight: normal;color: var(--ccc);padding: 0 20px;}
	.return {border-right: 1px var(--light) solid;margin-right: 20px;}
	a {margin-left: 5px;}
}

@media(max-width:640px){
	.title {height: .9rem;
		.ico {padding: 0 .1rem;}
		cite {padding: 0 .2rem;}
		.return {margin-right: .2rem;}
		a {margin-left: .1rem;}
	}
}

/* page */
page {padding:20px 0;
	a,
	button {background-color: var(--flash);}
	button:hover,
	a:hover,
	a.active {background-color: var(--color);box-shadow: 0 3px 5px var(--bright);}
}

@media(max-width:640px){
	page {padding: .2rem 0;
		.ico {font-size: .3rem;}
		input {border: 1px var(--light) solid;}
		a:hover,
		a.active {box-shadow: 0 .05rem .05rem var(--bright);}
	}
}

/* statistics */
.statistics {display: flex;padding: 10px;
	li {width: 100%;text-align: center;border-right: 1px var(--light) solid;
		&:last-child {border: 0;}
		i {font-size: 36px;margin-bottom: 10px;}
		span {padding: 0 0 10px;display: block;text-transform: capitalize;}
		h3 {color: var(--color);}
		em {font-weight: normal;font-size: 12px;vertical-align: top;text-transform: uppercase;padding: 0 0 0 5px;opacity: .5;}
		a {margin: 10px auto 0;float: none;}
	}
}

@media(max-width:640px){
	.statistics {padding: .1rem;display: grid;grid-template-columns: 1fr 1fr;grid-gap: .4rem;
		li {border: 0;
			i {font-size: .5rem;margin-bottom: .1rem;}
			span {padding: 0 0 .1rem;}
			em {font-size: .16rem;padding: 0 0 0 .05rem;}
			a {margin: .1rem auto 0;}
		}
	}
}

/* article */
.article {padding:10px;line-height: 200%;overflow: hidden;
	p {line-height: 200%;padding: 5px 0;}
	ul {padding: 5px 0;}
	li {list-style:inside;}
	.btn {margin: 5px;}
}

@media(max-width:640px){
	.article {padding:.1rem;
		p {padding: .05rem 0;}
		ul {padding: .05rem 0;}
		.btn {margin: .05rem;}
	}
}

/* table */
.table {
	table {
		thead tr,
		tfoot tr {background-color: var(--flash);}
		td,
		th {max-width: 200px;}
		thead {
			td,
			th {border-bottom: 1px var(--color) solid;}
		}
		tbody tr {
			&:nth-child(2n),
			&:hover {background-color: var(--flash);}
		}
		td {
			input {height: 30px;width: auto;border:1px var(--light) solid;text-align: center;}
			.btn {width: auto;display: inline-block;padding: 0 20px;height: 30px;line-height: 28px;float: none;font-size: 14px;}
			button.ico,
			a.ico {padding: 5px;
				&:hover {background-color: var(--light);}
			}
			label {padding: 0 5px;}
		}
		tfoot tr:first-child {
			td,
			th {border-top-color: var(--color);}
		}
	}
}

@media(max-width:640px){
	.table table {min-width: 200vw;overflow: auto;
		td {
			input {height: .4rem;}
			.btn {padding: 0 .2rem;height: .4rem;line-height: .38rem;font-size: .16rem;}
			button.ico,
			a.ico {padding: .1rem;}
			label {padding: 0 .05rem;}
		}
	}
}

/* tab */
tab-list {border-bottom: 1px var(--light) solid;
	li a {line-height: 50px;text-transform: capitalize;font-size: 16px;border-bottom: 3px white solid;}
	li.active a {border-color: var(--color);color: var(--color);}
}

@media(max-width:640px){
	tab-list {
		li a {line-height: .6rem;font-size: .2rem;border-bottom: .03rem white solid;}
	}
}

/* list */
.list {
	li {padding: 10px;border-bottom-color: var(--light);
		&:hover {background-color: var(--flash);}
		em {width: 140px;height: 140px;background-size: cover;margin: 0 20px 0 0;border-radius: 100%;display: block;transition-duration: .3s;
			&:hover {border-radius: 0;}
		}
	}
}
.list-cont {width: 100%;flex: 1;
	h6 {height: 30px;line-height: 30px;overflow: hidden;
		a:hover {color: var(--color);}
	}
	p {height: 75px;line-height: 25px;overflow: hidden;}
}
.list-info {padding: 10px 0;color: var(--ccc);
	span {padding: 0 10px 0 0;}
	i {margin: 0 10px 0 0;font-size: 22px;color: var(--ccc);}
}
.list-control {margin: 0 0 0 20px;display: flex;
	a {margin: 5px;line-height: 40px;}
}

@media(max-width:640px){
	.list li {padding: .1rem;border-bottom: 1px var(--light) solid;
		em {width: 1.4rem;height: 1.4rem;margin: 0 .2rem 0 0;float: left;}
	}
	.list-cont {width: calc(100% - 1.4rem - .2rem);float: right;
		h6 {height: .4rem;line-height: .4rem;}
		p {height: .9rem;line-height: .3rem;}
	}
	.list-info {padding: .1rem 0;
		span {padding: 0 .1rem 0 0;}
		i {margin: 0 .1rem 0 0;font-size: .26rem;}
	}
	.list-control {margin: 0;padding: 0 0 0 .1rem;display: block;
		a {width: 1rem;margin: .05rem auto;display: block;text-align: center;line-height: .5rem;}
	}
}

/* pop */
pop-title {border-bottom-color: var(--light);}

/* login */
.login {width: 100%;height: 100%;background: repeating-radial-gradient(circle at 50% 50%, transparent 0, var(--000-1) 3px 3px, transparent 5px 10px) var(--color);}
.login-main {background-color: white;padding: 30px;animation-duration: .5s;position: relative;border-radius: 10px;}
.login-title {padding: 10px 0 20px;overflow: hidden;
	h1 {margin: auto;transform: scale(1.3);}
}
.login-form {width: 500px;
	li {position: relative;display: flex;
		&:last-child {border-bottom: 0;}
		i {width: 50px;position: absolute;line-height: 50px;}
		input {padding: 0 10px 0 50px;flex: 1;}
		.btn {width: 100%;margin: 20px 5px 10px;font-weight: bold;}
	}
}
.login-info {padding: 0 15px;overflow: hidden;
	a:hover {color: var(--color);}
}
.login-other {overflow: hidden;
	a {padding: 5px;display: block;float: left;border-radius: 5px;
		&:hover {background-color: var(--light);}
	}
}

@media(max-width:640px){
	.login-main {padding: .2rem .1rem;border-radius: .1rem;width: 95%;}
	.login-title {padding: .1rem 0;}
	.login-form {width: 100%;
		li {
			i {width: .7rem;line-height: .7rem;}
			input {padding: 0 .1rem 0 .7rem;}
			.btn {margin: .2rem 0 0;font-size: .24rem;}
		}
	}
	.login-info {padding: 0 .15rem;}
	.login-other {
		a {padding: .1rem;border-radius: .1rem;}
	}
}


