/*blue*/
:root {
    --color-white:#f6f9fc;
    --color-shallow:#e5f4ff;
    --color-obviou:#dde6ef;
    --color-obviou-5:rgb(221,230,239,.5);
    --color-bright:#95ceff;
    --color-basic:#2098ff;
    --color-basic-1:rgb(32,152,255,.1);
    --color-strong:#0074d6;
    --color-deep:#002e57;
    --color-dark:#00192f;
    --color-black:;
}

/*head*/
.logo i {filter: hue-rotate(-47deg) saturate(200%);}

/*login*/
.login u {filter: hue-rotate(-47deg) saturate(200%);}